
:root {
  --primary-color: rgb(243, 112, 33);
  --primary-hover-color: rgb(255, 248, 244);
}

h1 {
  color: var(--primary-color);
}

body {
  font-family: Helvetica;
  margin: 0;
}

button {
  color: var(--primary-color) !important;
}

button:hover {
  background-color: var(--primary-hover-color) !important;
}

.flex-with-gap {
  display: flex;
  gap: 20px;
}