
:root {
  --primary-color: rgb(243, 112, 33);
  --primary-hover-color: rgb(255, 248, 244);
}

h1 {
  color: var(--primary-color);
}

body {
  font-family: Helvetica;
  margin: 0;
}

button {
  color: var(--primary-color) !important;
}

button:hover {
  background-color: var(--primary-hover-color) !important;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff7f7;
  padding: 20px;
}

#sidebar img {
  width: 200px;
  height: auto;
  margin-left: -40px;
}

#main-content {
  margin-left: 290px;
  padding: 20px 40px;
}